# Project exclude paths
/.gradle/
/Problems/Check if an array is sorted ascending/out/
/Problems/Check if an array is sorted ascending/out/production/classes/
/Problems/Check the given numbers are different/out/
/Problems/Check the given numbers are different/out/production/classes/
/Problems/Check the value/out/
/Problems/Check the value/out/production/classes/
/Problems/Cinema/out/
/Problems/Cinema/out/production/classes/
/Problems/Collatz conjecture/out/
/Problems/Collatz conjecture/out/production/classes/
/Problems/Exactly one parameter is positive/out/
/Problems/Exactly one parameter is positive/out/production/classes/
/Problems/Fill the matrix by numbers/out/
/Problems/Fill the matrix by numbers/out/production/classes/
/Problems/Individual taxes/out/
/Problems/Individual taxes/out/production/classes/
/Problems/Integer part of a number/out/
/Problems/Integer part of a number/out/production/classes/
/Problems/Replacing 'a' with 'b'/out/
/Problems/Replacing 'a' with 'b'/out/production/classes/
/Problems/Right Rotation/out/
/Problems/Right Rotation/out/production/classes/
/Problems/Rotate a rectange array/out/
/Problems/Rotate a rectange array/out/production/classes/
/Problems/Squares of natural numbers/out/
/Problems/Squares of natural numbers/out/production/classes/
/Problems/The product of numbers from a to b/out/
/Problems/The product of numbers from a to b/out/production/classes/
/Problems/The sum of elements/out/
/Problems/The sum of elements/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/